Checks: '*,
-*-magic-numbers,
-*-struct-pack-align,
-*-macro-to-enum,
-*-restrict-system-libc-headers,
-*-avoid-non-const-global-variables,
-*-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
-*-deprecated-declarations,
-*-init-variables,
-*-include-cleaner,
-*-identifier-length,
-*-isolate-declaration,
-*-unroll-loops,
-*-dcl37-c,
-*-dcl51-cpp,
-*-callee-namespace,
-llvm-header-guard,
'